<h1>Third Component</h1>

<div><strong>Id: </strong>{{products[0].id}}</div>
<div><strong>Title: </strong>{{products[0].title}}</div>
<div><strong>Price: </strong>{{products[0].price}}</div>
<div><strong>Description: </strong>{{products[0].description}}</div>

<!-- <div><strong>Id: </strong>{{products[1].id}}</div>
<div><strong>Title: </strong>{{products[1].title}}</div>
<div><strong>Price: </strong>{{products[1].price}}</div>
<div><strong>Description: </strong>{{products[1].description}}</div> -->

<hr/>


<!--
  for (Product product : products){
    SOP(product.getId());
  }
-->

<div *ngFor="let product of products" class="product">
    <div><strong>Id: </strong>{{product.id}}</div>
    <div><strong>Title: </strong>{{product.title}}</div>
    <div><strong>Price: </strong>{{product.price}}</div>
    <div><strong>Description: </strong>{{product.description}}</div>
</div>

<hr/>

<table border="1">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Price</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
            <td>{{product.id}}</td>
            <td>{{product.title}}</td>
            <td>{{product.price}}</td>
            <td>{{product.description}}</td>
        </tr>
    </tbody>
</table>

<hr/>

<ul>
    <li *ngFor="let product of products">
        <div><strong>Id: </strong>{{product.id}}</div>
        <div><strong>Title: </strong>{{product.title}}</div>
        <div><strong>Price: </strong>{{product.price}}</div>
        <div><strong>Description: </strong>{{product.description}}</div>
    </li>
</ul>
