.movie-container {
  padding: 10px;
}

.movie-item {
  padding: 15px;
  background-color: white;
  border-radius: 5px;
}

.movie-item img {
  max-height: 500px;

}

.heading {
  margin-top: 5px;
  font-weight: bold;
  font-size: 17px;
}

.value {
  font-size: 15px;
  color: #f62d51;
}
