<h1>User Registration</h1>

<div class="form">

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="">First Name</label>
        <input type="text" class="form-control" [(ngModel)]="firstName">
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <label for="">Last Name</label>
        <input type="text" class="form-control" [(ngModel)]="lastName">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="">Email</label>
        <input type="email" class="form-control" [(ngModel)]="email">
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <label for="">Phone</label>
        <input type="tel" class="form-control" [(ngModel)]="phone">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label for="">Address</label>
        <textarea [(ngModel)]="address" rows="5" class="form-control"></textarea>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <button (click)="onRegister()" class="btn btn-success" style="margin-right: 10px">Register</button>
      <button (click)="onCancel()" class="btn btn-danger">Cancel</button>
    </div>
  </div>
</div>
