<h1>Add Movie</h1>

<div class="form">
  <div class="row">
    <div class="col-md-12">
        <div class="form-group">
          <label for="">Title</label>
          <input [(ngModel)]="title" type="text" class="form-control">
        </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
        <div class="form-group">
          <label for="">Description</label>
          <textarea [(ngModel)]="description" rows="5" class="form-control"></textarea>
        </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <label for="">Genres</label>
      <input [(ngModel)]="genres" type="text" class="form-control">
    </div>
    <div class="col-md-4">
      <label for="">Duration</label>
      <input [(ngModel)]="duration" type="text" class="form-control">
    </div>
    <div class="col-md-4">
      <label for="">Title</label>
      <div>
          <app-rating
            [rating]="rating"></app-rating>
      </div>
    </div>
  </div>

  <div class="row" style="margin-top: 20px">
    <div class="col-md-12">
      <button (click)="onAdd()" class="btn btn-success" style="margin-right: 10px">Add</button>
      <button (click)="onCancel()" class="btn btn-danger">Cancel</button>
    </div>
  </div>
</div>
